APP_NAME=tlms
APP_VERSION=1.0.1
APP_PORT=2000
DATABASE_URL=postgres://USER:PASSWORD@localhost:5432/DATABASE?sslmode=disable
JWT_SECRET=
GIN_MODE=release

SEEDER_ADMIN_EMAIL=
SEEDER_ADMIN_PASSWORD=
SEEDER_ADMIN_NAME=

SEEDER_OFFICE_HQ_NAME=
SEEDER_OFFICE_HQ_CODE=

LOCAL_STORAGE_PATH=
