[Unit]
Description=TLMS Backend
After=network.target

[Service]

Type=simple

User=YOUR_USER
WorkingDirectory=/opt/tlms/tlms-be

ExecStart=/opt/tlms/tlms-be/tlms-be

Restart=always
RestartSec=5

EnvironmentFile=/opt/tlms/tlms-be/.env

[Install]
WantedBy=multi-user.target
